<div class="top-box">
	<h1 class="top-headline">ようこそ <span class="bookers">Bookers</span> へ！</h1>

	<p class="top-text">
		<span class="bookers">Bookers</span>
	 では、さまざまな書籍に関するあなたの意見や</p>

	<p class="top-text">印象を共有し交換することができます</p>

	<a class="top-text underline" href="/books">start</a>
</div>